* {
    margin: 0; 
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    background: linear-gradient(135deg, #E97551, #D2B48C)
}
.header1 {
    text-align: center;
    padding-top: 75px;
    color: white;
    font-size: 24px;
}
ul {
    list-style-type: none;
}
.timeline {
    position: relative;
    max-width: 1000px;
    margin: 100px auto;
}
.container { 
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;
}
@keyframes movedown {
    0%{ 
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{ 
        opacity: 1;
        transform: translateY(0px);
    }
}
.container:nth-child(1){
    animation-delay: 0s;
}
.container:nth-child(2){
    animation-delay: 1s;
}
.container:nth-child(3){
    animation-delay: 2s;
}
.container:nth-child(4){
    animation-delay: 3s;
}
.container:nth-child(5){
    animation-delay: 4s;
}
.container:nth-child(6){
    animation-delay: 5s;
}
.text-box { 
    padding: 20px 30px; 
    background: #fff;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}
.left-container {
    left: 0;
}
.right-container{ 
    left: 50%; 
}
.container img { 
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
}
.right-container img{ 
    left: -20px; 
} 
.timeline::after { 
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #fff;
    top: 0; 
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}
@keyframes moveline {
    0%{
        height: 0;
    }
    100%{
        height: 100;
    }
}
.text-box h2 { 
    font-weight: 600;
}
.text-box small { 
    display: inline-block;
    margin-bottom: 15px;
}
.left-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #fff;
    right: -15px
}
.right-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #fff;
    left: -15px
}
@media screen and (max-width: 600px) {
    .timeline {
        margin: 50px auto;
    }
    .timeline::after { 
        left: 31px; 
    }
    .container { 
        width: 100%; 
        padding-left: 80px;
        padding-right: 25px;
    }
    .text-box{ 
        font-size: 13px;
    }
    .text-box small{ 
        margin-bottom: 10px;
    }
    .right-container { 
        left: 0;
    }
    .left-container img, .right-container img { 
        left: 10px;
    }
}
header { 
    width: 100%; 
    background: linear-gradient(135deg, #E97551, #D2B48C);
    z-index: 100;
}

.nav { 
    display: flex;
    justify-content: space-between;
}

.logo { 
    font-size: 28px;
    font-weight: 700;
    color: var(--third-color);
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
}

.logo::after { 
    content: '.'; 
    position: absolute;
    color: var(--second-color);
}

.menu { 
    display: flex;
    align-items: center;
    column-gap: 30px; 
    transition: all .4s;
    padding-left: 100%;
}

.menu li a { 
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--text-color);
    position: relative;
    transition: .3s;
} 

.menu li a.active, 
.menu li a:hover { 
    color: var(--second-color);
}

.menu li a::before { 
    content: '';
    position: absolute;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: var(--second-color);
    border-radius: 50px;
    transform: scale(0);
    transition: .3s;
}

.menu li a.active::before,
.menu li a:hover::before{ 
    transform: scale(1);
}

.button { 
    background-color: transparent;
    border: none; 
    display: none;
}

.button .line { 
    transition: y 300ms ease in 300ms, rorate 300ms ease-in, opacity 0ms 300ms;
    transform-origin: center;
}

.button[aria-expanded="true"] .line { 
    transition: y 300ms ease-in, rotate 300ms ease-in 300ms, opacitu 0ms 300ms; 
}

.button[aria-expanded="true"] :is(top, bottom) { 
    y: 45; 
}

.button[aria-expanded="true"] .top { 
    rotate: 45deg; 
} 

.button[aria-expanded="true"] .middle { 
    opacity: 0; 
} 

.button[aria-expanded="true"] .bottom { 
    rotate: -45deg; 
} 

@media screen and (max-width: 768px) { 
    .menu { 
        position:absolute;
        top: 93px; 
        left: 0;
        background-color: rgba(0, 0, 0, .5);
        height: 0;
        width: 100vw !important;
        display: flex;
        justify-content: center;
        flex-direction: column;
        row-gap: 50px;
        padding: 0;
        margin: 0; 
        visibility: hidden;
        opacity: 0;
    }
    .menu.active {
        
        position:absolute;
        top: 93px; 
        left: 0;
        background-color: rgba(0, 0, 0, .7);
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
        row-gap: 50px;
        visibility: visible;
        opacity: 1;
    } 

    .menu.active a {
        color: #333;
        font-size: 24px;
    }

    .button { 
        display: initial;
    }
}

.home { 
    background: none ;
    background-position: center;
    background-size: cover;
    background-clip: border-box;
}

.home_content { 
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
}

.home_content h1 { 
    font-size: 45px;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.2;
    white-space: nowrap;
} 

.home_content h1 span { 
    font-weight: 600;
}

.home .content p { 
    font-size: 14px;
    margin: 25px 0 40px; 
    color: var(--paragraph-color);
    max-width: 380px; 
}

.home .content .btn { 
    display: inline;
}

.scroll_down { 
    margin-top: 50px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    font-size: 14px;
    animation: animate 2s infinite;
    color: var(--second-color);
    font-weight: 600;
}

.scroll_down span { 
    color: var(--text-color);
}

@keyframes animate { 
    0%, 100% { 
        transform: translateY(-5px);
    }
    50% { 
        transform: translateY(5px);
    }
}

.scroll_down i { 
    font-size: 32px;
    display: block;
}

.scroll_down i.arrow_down { 
    font-size: 22px;
}

@media screent and (max-wdith: 576px) { 
    .home { 
        background-color: bisque;
    }

    .home .content h1 { 
        font-size: 40px;
    }
}

.about_container { 
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
}

.about_container .content h2 { 
    color: var(--text-color);
    height: 500;
}

.about_container .content h2 span { 
    font-weight: 600;
}

.about_container .content p { 
    margin: 20px 0 40px;
}

.about_container .content .btn { 
    display: inline; 
}

@media screen and (max-wdith: 768px) { 
    .about_container { 
        grid-template-columns: 1fr;
    }

    .about_container .content{ 
        order: 2; 
        margin-top: 30px;
}
}